
  .main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  h1{
    margin: 0;
    font-size: 90px;
    font-weight: normal;
    line-height: 60px;
    margin-bottom: 50px;
    @media screen and (max-width:990px){
      font-size: 75px;
      line-height: 65px;
    }
  }

.txt-center{
  width: 100%;
  position: relative;

  p{
    font-style: italic;
  }
  a{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}